{
    "presets": [
      "env"
    ],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "~": "./src/",
          "COMPONENTS": "./src/components",
          "ROUTES": "./src/routes",
          "SERVICES": "./src/services",
          "STORE": "./src/store",
          "RESOURCES": "./src/resources"
        }
      }],
      "transform-object-rest-spread"
    ]
  }
  